{
  "linters": {
    "./**/*.ts": [
      "prettier --config _scripts/.prettierrc.yml --write --tab-width 4",
      "npm run lint:typescript -- --fix",
      "git add"
    ],
    "./**/*.js": [
      "prettier --config _scripts/.prettierrc.yml --write --tab-width 4",
      "npm run lint:javascript -- --fix",
      "git add"
    ],
    "./**/*.{json,yaml,yml}": ["prettier --config _scripts/.prettierrc.yml --write --tab-width 2", "git add"],
    "./.lintstagedrc": ["prettier --config _scripts/.prettierrc.yml --write --tab-width 2 --parser json", "git add"]
  },
  "globOptions": {
    "dot": true
  }
}
